<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5RZFwdDakT3zrJ7-DMum0IHCSfyLqtBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7413174684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pilotcap.ttmd</string>
	<key>PROJECT_ID</key>
	<string>dic-caa-ra1</string>
	<key>STORAGE_BUCKET</key>
	<string>dic-caa-ra1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7413174684:ios:9a2317f461e3a05ce5f859</string>
</dict>
</plist>