<div class="grid-container">
  <mat-toolbar style="border-bottom: 1px solid #ebe6e6; background: #FFF;border-radius:24px">
    <button *ngIf="isMobile" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="assets/images/group.svg" alt="Cymbal Customer Service Logo" class="mr-2">
    <img src="assets/images/cymbal-text-logo.svg" alt="Cymbal Text Logo">
    <app-header class="ms-5"></app-header>
    <span class="flex-expand"></span>

    <form>
      <select class="form-control-sm mr-10" name="selectAction" (change)="changeDb($event)"
        [formControl]="organizationCtrl" style="cursor: pointer;background: #FFF;">
        <option value="">Select Grouping</option>
        <option *ngFor="let op of organisation" [value]="op.table_schema">
          {{op.table_schema}}
        </option>
      </select>
    </form>

    <app-user-photo></app-user-photo>
  </mat-toolbar>

  <div>
    <div class="content col-xxl-12">
      <mat-sidenav-container fullscreen>
        <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" class="no-border">
          <app-menu *ngIf="userSessions" (selectedTab)="checkSideNavTAb($event)" (selectedHistory)="sendHistory($event)"
            [userHistory]="userHistory" [userSessions]="userSessions"
            ></app-menu>
        </mat-sidenav>
        <!-- <mat-sidenav-content [ngStyle]="checkStyle?{'background-color': '#FFF'} : {'background-color': '#F3F6FC'}"> -->
        <mat-sidenav-content style="background-color: #FFF; min-height: 100vh;">
          <div *ngIf="checkSideNav === 'Query'" style="height:100%">
            <app-business-user *ngIf="checkSideNav === 'Query'" (updateStyleEvent)="updateBackgroundStyle($event)"
              [checkSideNav]="checkSideNav" [selectedHistory]="selectedHistory"
              [selectedGrouping]="organizationCtrl.value"></app-business-user>
          </div>
          <div *ngIf="checkSideNav === 'History'|| checkSideNav ==='New Query' || checkSideNav ==='Scenarios'"
            style="height:100%">
            <app-business-user (updateStyleEvent)="updateBackgroundStyle($event)" [checkSideNav]="checkSideNav"
              [selectedHistory]="selectedHistory" [userSessions]="userSessions"
              [selectedGrouping]="organizationCtrl.value" [selectedScenario]="selectedScenario"></app-business-user>
          </div>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>