project_id = "projectv1-340909"
vector_store = "cloudsql-pgvector"
embedding_model = "vertex"
description_model = "gemini-1.5-pro"
debugging = "yes"
logging = "yes"
kgq_examples = "yes"
use_session_history = "yes"
use_column_samples = "yes"
use_existing_cloudsql_instance = "no"
pg_instance = "pg15-opendataqna-2"
pg_region = "us-central1"
pg_database = "opendataqna-db-2"
pg_user = "pguser2"
pg_password = "Pguser@!12345"
bq_opendataqna_dataset = "opendataqna2"
bq_dataset_region = "us-central1"
bq_log_table = "audit_log_table"
firestore_region = "us-central1"
service_account = "opendataqna-v2-sa-3"
deploy_region = "us-central1"
cloud_run_service_name = "opendataqna-v2-run-3"
firebase_web_app_name = "opendataqna-v2-chatbot-3"