<mat-nav-list class="app-sidenav pr-4 ">
  <mat-list-item style="cursor: pointer" [ngClass]="clickedItem === 'Query' ? 'activeTab' : 'inactiveTab'"
    (click)="onClick('New Query')">
    <img src="assets/images/add-new-query.svg"><span class="ms-2">New Query</span>
  </mat-list-item>
  <mat-list-item (click)="onClick('History')" style="height:auto; padding-right: 0;">
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" disableRipple>
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>star_border</mat-icon><span class="ms-2">History</span></mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <a *ngFor="let history of recentHistory" class="historyDetails" (click)="onClickHistory(history.chatThread)">
          {{history.question}}</a>
      </p>
      <button class="showMore" (click)="showMore()" *ngIf="userHistory.length > 5"> Show More </button>
      <p *ngIf="showMoreHistory"> 
        <a *ngFor="let history of showMoreHistory" class="historyDetails" (click)="onClickHistory(history.chatThread)">
          {{history.question}}</a>
      </p>
     </mat-expansion-panel>
  </mat-list-item>
  <!-- <mat-list-item style="position: absolute;bottom: 15px;">
    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
    </mat-slide-toggle>
    <span>Operations Mode</span>
  </mat-list-item> -->

</mat-nav-list>