.list-css {
  background-image: radial-gradient(grey, black);
  min-width: 100%;
  min-height: 100%;
}

.search {
  color: #FFFFFF;
}

.left-text {
  width: 299px;
  height: 119px;
  top: 472px;
  left: 367px;
  font-family: Google Sans;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FFFFFF;

}

.userTitle {
  width: 180px;
  height: 20px;
  top: 788px;
  left: 485px;
  font-family: Google Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #FFFFFF;
  display: inline;

}

.right-text {
  width: 836px;
  height: 108px;
  top: 472px;
  left: 700px;

  font-family: Google Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;

  color: white;
}

.userId {
  top: 498px;
  left: 485px;
  font-family: "Google Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #FFFFFF;
  display: inline;
  float: right;
}

.content {
  width: 612px;
  height: 162px;
  top: 426px;
  left: 689px;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #FFFFFF;

}

.user-text {
  font-family: Google Sans;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 19px;
  padding: 20px 40px;
}

.user-journey-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 70px;
  width: 168px;
  height: 36px;
  left: 164px;
  top: 1114px;
  background: #1A73E8;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
  border: none !important;
}

.align {
  align-items: center;
}

.list-group .list-group-item {
  border: none !important;
}

.list-group {
  margin-top: 100px;
}

.demoBtn {
  float: right;
  display: inline-flex;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}

.flex-child:first-child {
  margin-right: 20px;
}

.gap-10 {
  gap: 10px;
}

.loading-spinner {
  margin-left: 25px;
  margin-top: 5px;
}

.demoPage {
  font-size: 18px;
  font-family: 'Google Sans';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 20px;
  margin : 10px
}

.videoContent {
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #FFFFFF;

}

.video-title {
  text-align: center;
  margin-bottom: 10px; /* Add a margin to separate the title from the video */
  color: white; 
}