.demoPage {
    font-size: 18px;
    font-family: 'Google Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
    margin : 10px
}
img{
    width : 1200px;
    height:600px
}