<div class="demoPage">
    <video controls>
        <source src="assets/ODQnA UI Walkthrough.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="demoPage">
    <div>
        <p>On the top right corner there is a dropdown to select Grouping</p>
        <img src="assets/images/demo/select-grouping.png" />
    </div>
    <div>
        <p>Choose the Grouping from the Dropdown</p>
        <img src="assets/images/demo/grouping-dropdown.png" />
    </div>
    <div>
        <p>Selected Grouping</p>
        <img src="assets/images/demo/grouping-selected.png" />
    </div>
    <div>
        <p>Once Grouping is selected observe the prompt suggestion in the chat window and Click on the suggestion.</p>
        <img src="assets/images/demo/prompt-suggestion.png" />
    </div>
    <div>
        <p>Verify the SQL in the Generated SQL tab</p>
        <img src="assets/images/demo/generated-sql.png" />
    </div>
    <div class="d-flex flex-column align-items-center">
        <p>Verify the Result tab and table view </p>
        <img src="assets/images/demo/result-tab.png" />
        <img src="assets/images/demo/result-tab-table-view.png" />
    </div>
</div>