.grouping-msg {
    font-family: "Google Sans";
    font-size: "16px";
    color: #d93035
}

.closeBtn {
    font-family: "Google Sans";
    font-size: "14px";
    border: transparent;
    width: 100px;
    border-radius: 10px;
}

::ng-deep .mat-dialog-container {
    border-radius: 40px !important;
}

.popup {
   // height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }