<div class="popup">
    <div>
        <span class="grouping-msg">Please upload a csv file with the details below.</span>
        <table id="customers">
            <tr>
                <th>user_grouping</th>
                <th>scenario</th>
                <th>question</th>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario1</td>
                <td>question1</td>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario1</td>
                <td>question2</td>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario1</td>
                <td>question3</td>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario2</td>
                <td>question1</td>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario2</td>
                <td>question2</td>
            </tr>
            <tr>
                <td>user_grouping1</td>
                <td>scenario2</td>
                <td>question3</td>
            </tr>

            <tr>
                <td>user_grouping2</td>
                <td>scenario1</td>
                <td>question1</td>
            </tr>
            <tr>
                <td>user_grouping2</td>
                <td>scenario1</td>
                <td>question2</td>
            </tr>
            <tr>
                <td>user_grouping2</td>
                <td>scenario1</td>
                <td>question3</td>
            </tr>
        </table>
    </div>
    <button (click)='closeDialog()' class="closeBtn">Close</button>
</div>