<div class="container-fluid">
  <div *ngIf="isSuggestions" class="summarize-results">
    <div class="insight-results-err text-danger" *ngIf="setErrorCSS"> Access restricted: you dont have sufficient
      permissions to access this data source</div>
    <!-- <div *ngIf="showProgressPreviewBar" class="spinner_loading-preview-table">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div> -->
  </div>

  <div class="chat-body">
    <div class="chat-messages">
      <ul id="messages">
        <li *ngFor="let msg of chatMsgs ; let ind = index" [ngClass]="msg.author == 'agent' ? 'sent' : 'received'">
          <div *ngIf="!(msg.generate_sql && msg.author == 'agent'); else linkTemplate" style="margin-left: 20px;">
            <div style="padding: 10px;">
              <p *ngIf="ind == 0" class="welcomeTitle">
                Welcome to Open Data QnA
              </p>
              <p class="userMsg"> {{msg.user_question}}</p>
              <div *ngIf="ind ==0" style="width:400px">
                <span class='promptTitle'>Prompt Suggestion</span>
              </div>
              <p *ngFor="let res of msg.message?.slice(0, 10); let ind = index" style="margin-bottom: 0;">
                <a href="javascript:void(0);" style="border-radius: 11.5px;background: #D3E3FD;"
                  (click)="suggestionResult(res)">
                  {{res.example_user_question}}</a>
              </p>
            </div>
          </div>
          <ng-template #linkTemplate>
            <!-- (chatMsgsEvent)="recieveUpdatedChatMsgs($event)" -->
            <app-agent-chat [example_user_question]="generatedSql.example_user_question" [ind]="ind"
              [suggestionList]="suggestionList" [sessionId]="sessionId">
            </app-agent-chat>

          </ng-template>
          <div *ngIf="resultLoader && ind == chatMsgs.length-1"
            style="background: transparent; margin-left: 20px;width:600px">
            <span style="margin-top: 8px;
            position: absolute; left: 20px;">
              <svg width="49" height="27" viewBox="0 0 49 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Group 1739327752">
                  <circle id="Ellipse 6309" cx="4.5" cy="22.5" r="4.5" fill="#4285F4" class="svg-elem-1"></circle>

                  <line id="Line 59" x1="4.58579" y1="22.5858" x2="20.5858" y2="6.58579" stroke="#4285F4"
                    stroke-width="4" class="svg-elem-2"></line>
                  <circle id="Ellipse 6310" cx="20.5" cy="6.5" r="4.5" fill="#4285F4" class="svg-elem-3"></circle>

                  <line id="Line 60" x1="32.5858" y1="18.4142" x2="21.5858" y2="7.41421" stroke="#4285F4"
                    stroke-width="4" class="svg-elem-4"></line>
                  <circle id="Ellipse 6311" cx="31.5" cy="17.5" r="4.5" fill="#4285F4" class="svg-elem-5"></circle>

                  <line id="Line 61" x1="32.5858" y1="16.5858" x2="43.5858" y2="5.58579" stroke="#4285F4"
                    stroke-width="4" class="svg-elem-6"></line>
                  <circle id="Ellipse 6312" cx="44.5" cy="4.5" r="4.5" fill="#4285F4" class="svg-elem-7"></circle>
                </g>
              </svg>

            </span>
            <div style="background: transparent;margin-left:60px">
              <div class="meter" style="width:100%; background: transparent;">
                <span style="width:100%;"><span class="progress1"></span></span>
              </div>
              <div class="meter" style="width:80%;background: transparent">
                <span style="width:100%;"><span class="progress2"></span></span>
              </div>
              <div class="meter" style="width:60%;background: transparent;">
                <span style="width:100%;"><span class="progress3"></span></span>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>

    <form [formGroup]="sqlSearchForm">
      <div class="input-flex">
        <input type="text" #followUpQuery [ngClass]="{'name-err' : setErrorCSS, 'name':!setErrorCSS}"
          class="form-control" id="name" placeholder="Type" formControlName="name" required
          (keydown.enter)="followUp(followUpQuery.value , $event)">
        <img class="followUp ml-2" src="assets/images/q-search-icon.svg"
          (click)="followUp(followUpQuery.value , $event)" alt="follow up query">
      </div>
    </form>
  </div>