input {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.name {
  border-radius: 25px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
  width: 925px;
  height: 48px;
  flex-shrink: 0;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 8em;
  margin: 5px;
  /* 8em * 16px = 128px */
}

.mat-mdc-tab-body-wrapper {
  overflow: visible !important;
}

.name-err {
  border-radius: 25px;
  border: 1px solid red;
  background: #FFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
  width: 925px;
  height: 48px;
  flex-shrink: 0;
  //  color: #757575;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 5px;
}

.insight-results {
  width: 730px;
  color: #000;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 128.571% */
}

.img-position {
  position: absolute;
  left: 97%;
  top: 4.5%;
}

.input-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px
}

mat-icon {
  color: blue;
}

table {
  width: 100%;
}

.suggestion-ref {
  color: #757575;
  font-size: 10px;
  font-family: "Google Sans";
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  text-decoration-line: underline;
  background-color: #EBF2FF;
  padding: 3px;
  border-radius: 25px;
  margin: 2px;
}

.summarize-results {
  margin-top: 10px;
}

@media (max-width: 768px) {

  /* I need the code here */
  .summarize-results {
    flex: 0 50%;
  }
}

.form-outline img {
  float: right;
  padding-right: 10px;
  transform: translateY(-120%);
  pointer-events: none;
}

.label {
  border-radius: 25px;
  background-color: #FFF;
}

.wrap-up {
  transform: translateY(-20%);
  pointer-events: none;
}

.label-ref {
  color: #757575;
  font-size: 10px;
  font-family: Google Sans;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration-line: underline;
  background-color: #EBF2FF;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.img-align {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

// .mat-column-firstname ,.mat-column-lastname{
//   max-width:200px;
//   word-wrap:break-word;

// }
mat-table {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  overflow: hidden;
}

mat-cell,
#dataSources mat-header-cell {
  border: none !important;
}

.query-ref {
  padding: 20px;
  font-size: 14px;
  font-family: Google Sans;
  color: #575757;
}

.spinner_loading-preview-table {
  left: 50%;
  margin-left: -4em;
  position: absolute;
  margin-top: 75px;
}

.mat-tab-body-content {
  overflow: hidden !important
}

.spinner_loading-result-table {
  margin: 10px;
}

::ng-deep .custom-style {
  background-color: brown;
  color: white;
  border-radius: 10px;
}

.cursor-ref {
  cursor: pointer;
  flex: 0 1 8em;
}

.h1-ref {
  font-size: 35px !important;
  font-family: Google Sans;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.voice-ref {
  position: absolute;
  // left: 74%;
  right: 15%;
  transform: translateY(49%);
  pointer-events: none;
  color: #3a4247;
  flex: 1 1 30em;
  /* 20em * 16px = 320px */

}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap-background {
  background-color: #F3F6FC;
  border-radius: 25px;
}

.chart_prep {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chart-label {
  color: #525252;
  font-size: 14px;
  font-family: Google Sans;
}

._color {
  color: #525252;
}

.dataset-wrap {
  border: 1px solid #cdc8c8;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.datasource-prep {
  width: 425px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid #cdc8c8;
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #FFF;
}

.right-text {
  width: 50%;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.left-text {
  width: 50%;
  font-family: Google Sans;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  text-align: left;
}

.btns {
  display: flex;
  flex-direction: row;
}

.insight-results-err {
  font-family: Google Sans;
  font-size: 14px;
}

@media (max-width: 768px) {
  .btns {
    flex-direction: column;
  }

  .btns .share {
    width: 20%;
  }

  .datasource-prep {
    width: auto;
  }

  .result-content {
    flex-direction: column;
  }
}

.sqlQuery {
  color: #000;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  border-radius: 7px;
  border: 1px solid #E9E9E9;
  background: #F6F6F6;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
  max-width: 793px;
  min-height: 139px;
  flex-shrink: 0;
  padding: 10px;
  margin-top: 16px
}

.copyBtn {
  border: none;
  float: right;
  background: transparent;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-radius: 25px;
}

table td,
table th {
  padding: 2px 10px;
  font-size: 14px;
  font-family: Google Sans;
}

.result-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.table-prep {
  height: 100%;
  border-radius: 20px;
  border: 1px solid #cdc8c8;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 20px;
}

.example-list {
  width: 100px;
  border: solid 1px #cdc8c8;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.feedback-ref {
  color: #8AB4F8;
  font-size: 14px;
  font-family: Google Sans;
  font-weight: 400;
  background-color: #FFF;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}

.feedback-ref-clicked {
  color: #FFF;
  font-size: 14px;
  font-family: Google Sans;
  font-weight: 400;
  background-color: #1A73E8;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}

.feedback-ref a {
  text-decoration: none;
}

.feedback-grad {
  background-image: radial-gradient(#AACAFF, #E7E7E7);
  border: 1px solid #ccc;
}

.feedback-button {
  text-decoration: none;
  font-family: Google Sans;
  font-size: 14px;
}

.cdk-overlay-pane:has(.mat-mdc-select-panel) {
  width: auto !important;
}

.g-container {
  position: relative;
}

fieldset {
  border: 10px solid transparent;
  border-top-color: #000;
}


fieldset:nth-of-type(1) {
  transform: rotate(180deg);
}

fieldset:nth-of-type(1)>legend {
  transform: rotate(180deg);
}

fieldset:nth-of-type(1)>div>label {
  transform: rotate(180deg);
}

fieldset:nth-of-type(1)>div>mat-icon {
  transform: rotate(180deg);
}

fieldset:nth-of-type(1)>div>div {
  transform: rotate(180deg);
}

//-----------\\
.chat-body {
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
  border: 0;
  margin: 5px;
  vertical-align: baseline;
  background: #F3F6FC;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msg {
  border-radius: 10px;
}

.msg.right {
  background-color: #CCC;
  float: right;
}

.msg.left {
  background-color: #555;
  color: white;

}

.flex-expand {
  flex: 1 1 auto;
}

#messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0 !important;
  list-style: none;
}

#messages li {
  list-style: none;
  margin-top: 1rem;
}

#messages img {
  width: 43px;
  height: auto;
}

.received {
  display: block;
  text-align: right;
  position: relative;
}

li.received p {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px 10px;
  //background: #fff;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 0;

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  border-radius: 11.5px;
  border: 1px solid #B6CEFF;
  background: #DBE7FF;
  max-width : 500px;
  text-align: left;
}

li.sent {
  display: block;
  text-align: left;
  position: relative;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  background: #F3F6FC;
}

li.sent div {
  border-radius: 26px;
  background: #FFF;
  margin-bottom: 10px;
  width: 520px;
}

li.sent p,
a,
img {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
}

li.sent:after {
  display: block;
  content: '';
  clear: both;
}

.caption_span {
  color: var(--grey, #575757);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  padding-left: 10px;
}

li.sent .caption_span {
  margin-right: 15px;
  color: var(--grey, #575757);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
}

.summary {
  color: #000;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.title {
  color: #000;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.welcomeTitle {
  color: #000;
  font-family: 'Google Sans';
  font-size: 25px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding: 10px;
  width: 500px
}

.userMsg {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Google Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.promptTitle {
  color: #525252;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 10px;
}

.querying {
  color: #FFF;
  text-align: center;
  font-family: "Google Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.user-feedback {
  width: 257px !important;
  height: 93px !important;
  border-radius: 16px;
  background: #FFF;
  margin-bottom: 0 !important;
}

.user-feedback-title {
  color: #1F1F1F !important;
  font-family: "Google Sans";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px;
  margin-top: 20px !important;
}

.meter {
  height: 18px;
  overflow: hidden;
  margin-bottom: 12px;
  border-radius: 10px;
  display: block;
  background: transparent;
}

.meter span {
  display: block;
  height: 100%;
  background: transparent;
}

.progress1 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 7s linear 5s alternate;
  animation-delay: 0.1s;
  background: linear-gradient(80deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

.progress2 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 10s linear 5s alternate;
  animation-delay: 1.5s;
  background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

.progress3 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 5s linear 5s infinite alternate;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

@keyframes progressBar1 {
  from {
    background: linear-gradient(100deg, rgba(230, 222, 255, 0.70) 0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(66, 133, 244, 0.50) 81.92%);
    border-radius: 10.5px;
    opacity: 0.2
  }

  to {
    background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
    border-radius: 10.5px;
  }
}


/***************************************************
 * Generated by SVG Artista on 5/27/2024, 4:09:34 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
  animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 24.627429962158203px;
    stroke-dasharray: 24.627429962158203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 24.627429962158203px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 24.627429962158203px;
    stroke-dasharray: 24.627429962158203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 24.627429962158203px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 2s ease 1.8s both, animate-svg-fill-2 2s ease 1.8s both;
  animation: animate-svg-stroke-2 2s ease 1.8s both, animate-svg-fill-2 2s ease 1.8s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}
.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
  animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
}
.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 2s ease 2.8s both, animate-svg-fill-3 2s ease 2.8s both;
  animation: animate-svg-stroke-3 2s ease 2.8s both, animate-svg-fill-3 2s ease 2.8s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 17.556342124938965px;
    stroke-dasharray: 17.556342124938965px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.556342124938965px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 17.556342124938965px;
    stroke-dasharray: 17.556342124938965px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.556342124938965px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 2s ease 3.8s both, animate-svg-fill-4 2s ease 3.8s both;
  animation: animate-svg-stroke-4 2s ease 3.8s both, animate-svg-fill-4 2s ease 3.8s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 2s ease 4.8s both, animate-svg-fill-5 2s ease 4.8s both;
  animation: animate-svg-stroke-5 2s ease 4.8s both, animate-svg-fill-5 2s ease 4.8s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 17.55635643005371px;
    stroke-dasharray: 17.55635643005371px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.55635643005371px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 17.55635643005371px;
    stroke-dasharray: 17.55635643005371px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.55635643005371px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 2s ease 5.8s both, animate-svg-fill-6 2s ease 5.8s both;
  animation: animate-svg-stroke-6 2s ease 5.8s both, animate-svg-fill-6 2s ease 5.8s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 2s ease 6.8s both, animate-svg-fill-7 2s ease 6.8s both;
  animation: animate-svg-stroke-7 2s ease 6.8s both, animate-svg-fill-7 2s ease 6.8s both;
}