input {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.name {
  border-radius: 25px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
  width: 925px;
  height: 48px;
  flex-shrink: 0;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 8em;
  margin: 5px;
  /* 8em * 16px = 128px */
}

.name-err {
  border-radius: 25px;
  border: 1px solid red;
  background: #FFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
  width: 925px;
  height: 48px;
  flex-shrink: 0;
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 5px;
}

.input-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px
}

.suggestion-ref {
  border-radius: 11.5px;
  background: #D3E3FD;
}

.summarize-results {
  margin-top: 10px;
}

@media (max-width: 768px) {

  /* I need the code here */
  .summarize-results {
    flex: 0 50%;
  }
}

::ng-deep .custom-style {
  background-color: brown;
  color: white;
  border-radius: 10px;
}

.followUp {
  cursor: pointer;
  flex: 0 1 8em;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.insight-results-err {
  font-family: Google Sans;
  font-size: 14px;
}

.cdk-overlay-pane:has(.mat-mdc-select-panel) {
  width: auto !important;
}

/*-----chat messages------*/
.chat-body {
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
  border: 0;
  margin: 5px;
  vertical-align: baseline;
  background: #F3F6FC;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msg {
  border-radius: 10px;
}

.msg.right {
  background-color: #CCC;
  float: right;
}

.msg.left {
  background-color: #555;
  color: white;

}

.flex-expand {
  flex: 1 1 auto;
}

#messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0 !important;
  list-style: none;
}

#messages li {
  list-style: none;
  margin-top: 1rem;
}

#messages img {
  width: 43px;
  height: auto;
}

.received {
  display: block;
  text-align: right;
  position: relative;
}

li.received p {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 0;

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  border-radius: 11.5px;
  border: 1px solid #B6CEFF;
  background: #DBE7FF;
  max-width: 500px;
  text-align: left;
}

li.sent {
  display: block;
  text-align: left;
  position: relative;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  background: #F3F6FC;
}

li.sent div {
  border-radius: 26px;
  background: #FFF;
  margin-bottom: 10px;
  width: 520px;
}

li.sent p,
a,
img {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
}

li.sent:after {
  display: block;
  content: '';
  clear: both;
}

.caption_span {
  color: var(--grey, #575757);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
  padding-left: 10px;
}

li.sent .caption_span {
  margin-right: 15px;
  color: var(--grey, #575757);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Google Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.154px;
}
/*-----chat messages------*/

.welcomeTitle {
  color: #000;
  font-family: 'Google Sans';
  font-size: 25px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding: 10px;
  width: 500px
}

.userMsg {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Google Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.promptTitle {
  color: #525252;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 10px;
}
/* Progress spinner css */
.meter {
  height: 18px;
  overflow: hidden;
  margin-bottom: 12px;
  border-radius: 10px;
  display: block;
  background: transparent;
}

.meter span {
  display: block;
  height: 100%;
  background: transparent;
}

.progress1 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 7s linear 5s alternate;
  animation-delay: 0.1s;
  background: linear-gradient(80deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

.progress2 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 10s linear 5s alternate;
  animation-delay: 1.5s;
  background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

.progress3 {
  transition: width 2s;
  border-radius: 10.5px;
  animation: progressBar1 5s linear 5s infinite alternate;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
  animation-fill-mode: forwards;
}

@keyframes progressBar1 {
  from {
    background: linear-gradient(100deg, rgba(230, 222, 255, 0.70) 0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(66, 133, 244, 0.50) 81.92%);
    border-radius: 10.5px;
    opacity: 0.2
  }

  to {
    background: linear-gradient(100deg, rgba(66, 133, 244, 0.50)0%, rgba(198, 214, 253, 0.60) 41.37%, rgba(230, 222, 255, 0.70) 81.92%);
    border-radius: 10.5px;
  }
}


/***************************************************
 * Generated by SVG Artista on 5/27/2024, 4:09:34 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
  animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 24.627429962158203px;
    stroke-dasharray: 24.627429962158203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 24.627429962158203px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 24.627429962158203px;
    stroke-dasharray: 24.627429962158203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 24.627429962158203px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 2s ease 1.8s both, animate-svg-fill-2 2s ease 1.8s both;
  animation: animate-svg-stroke-2 2s ease 1.8s both, animate-svg-fill-2 2s ease 1.8s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
  animation: animate-svg-stroke-1 2s ease 0.8s both, animate-svg-fill-1 2s ease 0.8s both;
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 2s ease 2.8s both, animate-svg-fill-3 2s ease 2.8s both;
  animation: animate-svg-stroke-3 2s ease 2.8s both, animate-svg-fill-3 2s ease 2.8s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 17.556342124938965px;
    stroke-dasharray: 17.556342124938965px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.556342124938965px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 17.556342124938965px;
    stroke-dasharray: 17.556342124938965px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.556342124938965px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 2s ease 3.8s both, animate-svg-fill-4 2s ease 3.8s both;
  animation: animate-svg-stroke-4 2s ease 3.8s both, animate-svg-fill-4 2s ease 3.8s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 2s ease 4.8s both, animate-svg-fill-5 2s ease 4.8s both;
  animation: animate-svg-stroke-5 2s ease 4.8s both, animate-svg-fill-5 2s ease 4.8s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 17.55635643005371px;
    stroke-dasharray: 17.55635643005371px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.55635643005371px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 17.55635643005371px;
    stroke-dasharray: 17.55635643005371px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 17.55635643005371px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 2s ease 5.8s both, animate-svg-fill-6 2s ease 5.8s both;
  animation: animate-svg-stroke-6 2s ease 5.8s both, animate-svg-fill-6 2s ease 5.8s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 30.274333882308138px;
    stroke-dasharray: 30.274333882308138px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.274333882308138px;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 2s ease 6.8s both, animate-svg-fill-7 2s ease 6.8s both;
  animation: animate-svg-stroke-7 2s ease 6.8s both, animate-svg-fill-7 2s ease 6.8s both;
}
/* Progress spinner css */