export const firebaseConfig = {
  "projectId": "${projectId}",
  "appId": "${appId}",
  "storageBucket": "${storageBucket}",
  "apiKey": "${apiKey}",
  "authDomain": "${authDomain}",
  "messagingSenderId": "${messagingSenderId}"
};
export const ENDPOINT_OPENDATAQNA = '${endpoint_opendataqna}'

export const FIRESTORE_DATABASE_ID = 'opendataqna-session-logs'
